.container{
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 30px;
  flex-wrap: wrap;
}
.card{
  background-color: var(--card);
  padding: 10px;
  border-radius: 6px;
}
.card h3{
  color: var(--textColorCard);
}
main h1{
  text-align: center;
  color: var(--textColor);
}
main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.containerCentro{
  background-color: var(--decoration);
  padding: 40px;
  border-radius: 5px;
  margin: 0 10px;
}
.containerCentro h1{
  margin-bottom: 30px;
}